/* Additional styles */
@import './utility-patterns.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 255, 255, 255;
	--foreground-rgb: 0, 0, 0;
	--background: #161616;
	--primary: #242f9e;
	--secondary: #242f9e;
	--grey: #666666;
	--white: #ffffff;
	--dark: #22212d;
	--light: #242f9e;
	--error: #da1e11;
	--success: #28b873;
	--warning: #f9cf3a;
	--info: #0c7eda;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

html,
body,
:root {
	color: rgb(var(--foreground-rgb));
	background: var(--background);
	width: 100%;
	min-height: 100%;
	position: fixed;
	box-sizing: border-box;
	line-height: 1.6;
}
